---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/svnalx/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NTI4MGE0Y2NhMGZiNzIwOWViMjQ6ZTU5YjBmNzQ3ODFhNGM0ZTdlODVmYzYyNTY0MzI2YjZiZTNmMThiOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68daa95877328335c2d1fe733bb866a401f4bf80e7ffcaf6f088c7f9dfcb19d0"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1660151947'
      X-Ratelimit-Used:
      - '34'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":363302041,"node_id":"MDEwOlJlcG9zaXRvcnkzNjMzMDIwNDE=","name":"alex-crist","full_name":"svnalx/alex-crist","private":false,"owner":{"login":"svnalx","id":52368090,"node_id":"MDQ6VXNlcjUyMzY4MDkw","avatar_url":"https://avatars.githubusercontent.com/u/52368090?v=4","gravatar_id":"","url":"https://api.github.com/users/svnalx","html_url":"https://github.com/svnalx","followers_url":"https://api.github.com/users/svnalx/followers","following_url":"https://api.github.com/users/svnalx/following{/other_user}","gists_url":"https://api.github.com/users/svnalx/gists{/gist_id}","starred_url":"https://api.github.com/users/svnalx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/svnalx/subscriptions","organizations_url":"https://api.github.com/users/svnalx/orgs","repos_url":"https://api.github.com/users/svnalx/repos","events_url":"https://api.github.com/users/svnalx/events{/privacy}","received_events_url":"https://api.github.com/users/svnalx/received_events","type":"User","site_admin":false},"html_url":"https://github.com/svnalx/alex-crist","description":"My
        portfolio","fork":false,"url":"https://api.github.com/repos/svnalx/alex-crist","forks_url":"https://api.github.com/repos/svnalx/alex-crist/forks","keys_url":"https://api.github.com/repos/svnalx/alex-crist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/svnalx/alex-crist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/svnalx/alex-crist/teams","hooks_url":"https://api.github.com/repos/svnalx/alex-crist/hooks","issue_events_url":"https://api.github.com/repos/svnalx/alex-crist/issues/events{/number}","events_url":"https://api.github.com/repos/svnalx/alex-crist/events","assignees_url":"https://api.github.com/repos/svnalx/alex-crist/assignees{/user}","branches_url":"https://api.github.com/repos/svnalx/alex-crist/branches{/branch}","tags_url":"https://api.github.com/repos/svnalx/alex-crist/tags","blobs_url":"https://api.github.com/repos/svnalx/alex-crist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/svnalx/alex-crist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/svnalx/alex-crist/git/refs{/sha}","trees_url":"https://api.github.com/repos/svnalx/alex-crist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/svnalx/alex-crist/statuses/{sha}","languages_url":"https://api.github.com/repos/svnalx/alex-crist/languages","stargazers_url":"https://api.github.com/repos/svnalx/alex-crist/stargazers","contributors_url":"https://api.github.com/repos/svnalx/alex-crist/contributors","subscribers_url":"https://api.github.com/repos/svnalx/alex-crist/subscribers","subscription_url":"https://api.github.com/repos/svnalx/alex-crist/subscription","commits_url":"https://api.github.com/repos/svnalx/alex-crist/commits{/sha}","git_commits_url":"https://api.github.com/repos/svnalx/alex-crist/git/commits{/sha}","comments_url":"https://api.github.com/repos/svnalx/alex-crist/comments{/number}","issue_comment_url":"https://api.github.com/repos/svnalx/alex-crist/issues/comments{/number}","contents_url":"https://api.github.com/repos/svnalx/alex-crist/contents/{+path}","compare_url":"https://api.github.com/repos/svnalx/alex-crist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/svnalx/alex-crist/merges","archive_url":"https://api.github.com/repos/svnalx/alex-crist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/svnalx/alex-crist/downloads","issues_url":"https://api.github.com/repos/svnalx/alex-crist/issues{/number}","pulls_url":"https://api.github.com/repos/svnalx/alex-crist/pulls{/number}","milestones_url":"https://api.github.com/repos/svnalx/alex-crist/milestones{/number}","notifications_url":"https://api.github.com/repos/svnalx/alex-crist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/svnalx/alex-crist/labels{/name}","releases_url":"https://api.github.com/repos/svnalx/alex-crist/releases{/id}","deployments_url":"https://api.github.com/repos/svnalx/alex-crist/deployments","created_at":"2021-05-01T01:58:34Z","updated_at":"2021-05-01T02:36:46Z","pushed_at":"2021-05-01T02:36:44Z","git_url":"git://github.com/svnalx/alex-crist.git","ssh_url":"git@github.com:svnalx/alex-crist.git","clone_url":"https://github.com/svnalx/alex-crist.git","svn_url":"https://github.com/svnalx/alex-crist","homepage":null,"size":171,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main"},{"id":194480954,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ0ODA5NTQ=","name":"alex-crist.com","full_name":"svnalx/alex-crist.com","private":false,"owner":{"login":"svnalx","id":52368090,"node_id":"MDQ6VXNlcjUyMzY4MDkw","avatar_url":"https://avatars.githubusercontent.com/u/52368090?v=4","gravatar_id":"","url":"https://api.github.com/users/svnalx","html_url":"https://github.com/svnalx","followers_url":"https://api.github.com/users/svnalx/followers","following_url":"https://api.github.com/users/svna[...]
